###############################################
# Core project metadata
###############################################
include README.md
include LICENSE
include setup.py
include pyproject.toml
include setup.cfg

# Include package source code

recursive-include concordantmodes *.py

# Include test suite

recursive-include concordantmodes/tests *.py
recursive-include concordantmodes/tests/ref_data *

# Include any templates, example files, etc.

recursive-include concordantmodes *.txt
recursive-include concordantmodes *.dat
recursive-include concordantmodes *.json
recursive-include concordantmodes *.yaml
recursive-include concordantmodes *.yml

# junk

global-exclude __pycache__/*
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.swp
global-exclude *.swo
